%h1 Assignments
%ul.nav.nav-list
  %li.divider

.row
  .span7
    - 
    %table.table.table-striped
      %tr
        %th Name
        %th Due Date
        %th Class Assigned
        %th
        %th
        - @assignments.each do |assignment|
          %tr
            %td
              = assignment.name
            %td
              = assignment.due_date.strftime('%m/%d/%y')
            %td
              = assignment.day_class.name
            %td
              %span.label.label-info
                %i.icon-edit
                = link_to 'Edit', edit_assignment_path(assignment), class: "button_link"
            %td
              %span.label.label-important
                %i.icon-trash
                = link_to 'Delete', assignment_path(assignment), method: 'delete', class: "button_link"
