%h1 Afterschool Group List
%ul.nav.nav-list
  %li.divider

.row
  .span9
    %h3 Teacher
    %table.table.table-striped
      %tr
        %th Teacher
        %th Group Name
        %th Grade
        %th Enter Class
        %th Edit Class
        %th Delete Class
      - @groups.each do |group|
        %tr
          %td
            = link_to "#{group.teacher_first_name} #{group.teacher_last_name}", group_path(group), method: :get
          %td 
            = group.name
          %td
            = group.grade_level
          %td 
            %span.label.label-success
              = link_to "Enter Class", group_path(group), class: "button_link"
          %td
            %span.label.label-info
              %i.icon-edit
              =link_to "edit group", edit_group_path(group), class: "button_link"
          %td
            %span.label.label-important
              %i.icon-trash
              =link_to "delete class", group_path(@group), method: :delete, data: {confirm: "Are you sure?"}, class: "button_link"

%ul.nav.nav-list
  %li.divider
